doctype html
html(lang="en")
  head
    title SEP Professional Development
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/styles.css")
  body
    div(style="background-color: #492467; color: white;")
      .h3.title.text-center(style="padding-bottom: .5em; padding-top: .5em; margin-top: 0; margin-bottom: 1em;") SEP Professional Development
    .container
      .row(style="padding-bottom: 1.5em;")
        .col-xs-12
          .h2.bold.text-center(style="min-height: 2em;" title="#{question}")= baseQuestion
      .row
        .col-sm-4
          img(src="#{avatarURL}" style="max-width: 100%")
        .col-sm-8
          .row
            .col-xs-12
              .h3.bold(style="margin-top: 0;") #{displayName} says...
          .row
            .col-xs-12
              if answer.length < 600
                .h3(style="white-space: pre-wrap; font-weight: normal;")= answer
              else
                .h4(style="white-space: pre-wrap; font-weight: normal;")= answer
    .footer
      .row
        .col-xs-12.col-sm-4(style="padding-left: 2em; margin-top: 1em;")
          .pull-left Copyright © 2016 Larry Price (<a href="mailto:lrprice@sep.com">lrprice@sep.com</a>)
        .col-xs-12.col-sm-4.text-center
          a.h2(href="javascript: location.reload();") ...Another?
        .col-xs-12.col-sm-4.text-center(style="padding-right: 2em; margin-top: 1em;")
          a.pull-right(href="/faq") How do I...?
